* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");

.uno {
  display: flex;
  padding: 20px 20px 0px 20px;
}
.dos {
  display: flex;
  padding: 20px 20px 0px 20px;
}
.tres {
  display: flex;
  padding: 20px 20px 0px 20px;
}

.aside {
  width: 343px;
  display: flex;
  flex-direction: column;
}
.container {
  
    display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  padding: 20px 40px;
  width: 954px;
  height: 832px;
  background-color: #00669f;
  color: #ffffff;
  margin: 70px auto;
}
.nav {
  display: flex;
  color: #ffffff;
  justify-content: end;
  align-items: flex-end;
  list-style: none;
}

li {
  padding: 10px 15px;
}

h2 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
textarea {
  border-radius: 20px;
  margin-right: 20px;
  width: 343px;
  height: 307px;
  padding: 10px;
}
.date {
  width: 343px;
  height: 63px;
  border-radius: 15px;
  padding: 10px;
  vertical-align: middle;
}

#name_form,
#specie_form,
#date_form,
#file_form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#name_form,
#date_form {
  padding-right: 20px;
}

#file {
  position: relative;
  top: 20px;
}

/* #file_form input[type="file"] {
    padding-right: 20px;
    width: 223px;
    height: 32px;
} */

#poder_title {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 5px;
}
.poderes {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.label-special {
  display: flex;
  font-family: Karla, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.tipoPersonaje {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#tipo_title {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 5px;
}
.top {
  background-color: #1cd1b0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 20px;
}
.cabecera {
  height: 81px;
  background-color: #00669f;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: start;
  
}
#nombre {
    position: relative;
    top: -20px
}
#logo {
    position: relative;
    top: 2px
}
.subcabecera {
  background-color: #001d2d;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button {
 
  width: 466px;
  height: 87px;
  background-color: #1cd1b0;
  border-radius: 30px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
}
#boton_inferior {
    text-align: center;
    margin-top: 35px;
}
footer {
    display: flex;
  background-color: #00669f;
  height: 61px;
  color: #fff9f9;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
justify-content: center;
align-items: center;

}
footer span {
    text-transform: uppercase;
}

label {
  padding-bottom: 15px;
  vertical-align: middle;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.subtitle {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.especie {
  text-align: start;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 20px;
}
